:root {
    --main-color: #f6eee3;
    --secondary-color: #a59d93;
    --font-white: #e9e9e9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Exo", sans-serif, serif, Arial, Helvetica;
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background: rgb(87,87,87);
    background: -moz-linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    background: -webkit-linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    background: linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#575757",endColorstr="#dcd0c4",GradientType=1);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}
main {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 80px;
    left: 0;
    z-index: 1;
}
.btn_up {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn_up i {
    font-size: 30px;
    color: rgba(30, 30, 30, 0.75);
}
.spacing {
    width: 70%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.20);
}
.cont_header {
    /* background-color: var(--secondary-color); */
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}
.cont_header > img {
    width: 40px;
    position: relative;
    z-index: 950;
}
/* button menu */
#btn_menu {
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 950;
}
#btn_menu > i {
    font-size: 30px;
}

/* MENU CERRADO */
.menu_header {
    background-color: #DCD0C4;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -50%;
    z-index: 900;
    padding-bottom: 80px;
    opacity: 0;
    transition: .3s ease-in-out;
}
.menu_header a {
    text-decoration: none;
    color: rgb(30, 30, 30);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 20px 0;
}
/* MENU ABIERTO */
.menu_open {
    opacity: 1;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* TITLE */
.cont_title {
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 900px;
    background-image: url("/assets/bg_coffee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}
.cont_title .title {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.cont_title .title_description {
    font-size: 1rem;
    font-weight: 300;
}

/* SUBTITLE */
.cont_subtitle {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.cont_subtitle > img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 2.5rem;
}
.cont_subtitle .subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #DCD0C4;
    border-radius: 1rem;
    border-top-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
}
.cont_subtitle .subtitle > h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
}
.cont_subtitle .subtitle p {
    margin: 1rem 0;
}
.popular_menu_btn {
    background-color: #575757;
    font-weight: 500;
    color: var(--font-white);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
}


/* POPULAR MENU */
.cont_popular {
    width: 100%;
    background-color: #DCD0C4;
}
.cont_popular_menu {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cont_popular_menu > h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.popular_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.type_coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.type_coffee img {
    width: 70px;
    max-height: 100px;
}
.type_coffee > p {
    margin-top: 1rem;
}

/* FORM CONTACT */
.cont_contact {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cont_contact .form {
    background-color: #A59D93;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* info contact */
.form_one {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 1rem;
    background-color: #DCD0C4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form_one h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
.form_one > .spacing {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
}
.form_one .info_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 20px 10px;
}
.form_one .info_contact li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.form_one .info_contact li i {
    margin-right: 1rem;
}

/* send msj */
.form_two {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form_two input,
.form_two #msj {
    width: 100%;
    margin-bottom: .5rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}
.form_two #msj {
    height: 100px;
}

#btn_form {
    border: none;
    background-color: #575757;
    color: var(--font-white);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
}

footer {
    background: rgb(87,87,87);
    background: -moz-linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    background: -webkit-linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    background: linear-gradient(90deg, rgba(87,87,87,1) 0%, rgba(220,208,196,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#575757",endColorstr="#dcd0c4",GradientType=1);
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.cont_footer {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.cont_footer img {
    width: 50px;
    margin: 1rem;
}
.menu_footer {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menu_footer a {
    text-decoration: none;
    margin:.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(30, 30, 30);
}
footer p {
    opacity: 0;
}
/* RESPONSIVE */
@media screen and (min-width: 473px) {
    .cont_title .title {
        font-size: 4rem;
    }
    /* h2 fonts size */
    .cont_subtitle .subtitle h2,
    .cont_popular_menu h2 {
        font-size: 2.5rem;
    }

    .cont_subtitle .subtitle {
        max-width: 500px;
    }

    .type_coffee img {
        width: 100px;
        max-height: 130px;
    }
    .type_coffee > p {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 579px) {
    /* POPULAR MENU */
    .popular_menu {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        grid-template-rows: repeat(2, max-content);
        gap: 1rem;
    }
    /* Fila 1 */
    .black {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .espresso {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .cappuccino {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    /* Fila 2 */
    .mocha {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .latte {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .frappe {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    /* ------------ */

    /* FOOTER */
    .menu_footer a {
        font-size: 1.25rem;
        margin: 0 1rem;
    }
}

@media screen and (min-width: 750px) {
    .cont_subtitle {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: repeat(2, max-content);
        column-gap: 3rem;
        justify-items: center;
        align-content: center;
    }
    .cont_subtitle img {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .cont_subtitle .subtitle {
        max-width: 400px;
        padding: 20px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media screen and (min-width: 900px) {
    /* MENU DESKTOP */
    #btn_menu,
    .menu_open {
        display: none;
    }
    .menu_header {
        background: none;
        width: 100%;
        height: 100%;
        position: static;
        opacity: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
    }
    .menu_header a {
        margin: 0 1.25rem;
        font-weight: 500;
        transition: .3s ease-in-out;
    }
    .menu_header a:hover {
        color: var(--font-white);
        padding-top: 5px;
    }

    .cont_subtitle .subtitle {
        max-width: 500px;
    }

    .type_coffee img {
        width: 130px;
        max-height: 170px ;
    }

    /* Contact form. */
    .cont_contact .form {
        flex-direction: row;
        max-width: 700px;
    }
    .form_one {
        max-width: 300px;
        margin: 0 1rem 0 0;
        box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .form_one h2 {
        font-size: 2.5rem;
    }
    .form_two {
        padding: 20px 36px 20px 20px;
    }
}

@media screen and (min-width: 1280px) {
    .cont_title .title {
        font-size: 4.5rem;
    }
    .cont_title .title_description {
        font-size: 1.5rem;
    }
    .cont_subtitle > img {
        max-width: 350px;
    }
    .cont_subtitle {
        column-gap: 5rem;
    }
    .cont_subtitle .subtitle {
        max-width: 600px;
        padding: 40px 25px;
    }
    .cont_popular {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .popular_menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 1400px) {
    .cont_subtitle,
    .cont_popular,
    .cont_contact {
        min-height: 800px;
        max-height: 850px;
    }
}
