:root {
    --main-color: #f6eee3;
    --secondary-color: #a59d93;
    --font-white: #e9e9e9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Exo", sans-serif, serif, Arial, Helvetica;
    font-weight: 300;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
main {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 80px;
}
.spacing {
    width: 70%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.25);
}
.cont_header {
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu_header {
    display: none;
}

/* TITLE */
.cont_title {
    width: 100%;
    height: calc(100vh - 80px);
    max-height: 900px;
    background-image: url("/assets/bg_coffee.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}
.cont_title .title {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.cont_title .title_description {
    font-size: 1rem;
    font-weight: 300;
}

/* SUBTITLE */
.cont_subtitle {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.cont_subtitle > img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 2.5rem;
}
.cont_subtitle .subtitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.cont_subtitle .subtitle > h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
}
.cont_subtitle .subtitle p {
    margin: 1rem 0;
}
.popular_menu_btn {
    background-color: var(--secondary-color);
    font-weight: 500;
    color: var(--font-white);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
}


/* POPULAR MENU */
.cont_popular_menu {
    width: 100%;
    max-width: 1400px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cont_popular_menu > h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.popular_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.type_coffee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.type_coffee img {
    width: 70px;
    max-height: 100px;
}
.type_coffee > p {
    margin-top: 1rem;
}
<<<<<<< HEAD

/* FORM CONTACT */
.cont_contact {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.cont_contact .form {
    background-color: #A59D93;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* info contact */
.form_one {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin-bottom: 1rem;
    background-color: #DCD0C4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form_one h2 {
    font-family: "Flamenco", sans-serif, Arial, Helvetica;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}
.form_one > .spacing {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 1rem 0;
}
.form_one .info_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 20px 10px;
}
.form_one .info_contact li {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
.form_one .info_contact li i {
    margin-right: 1rem;
}

/* send msj */
.form_two {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.form_two input,
.form_two #msj {
    width: 100%;
    margin-bottom: .5rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    font-size: 1rem;
}
.form_two #msj {
    height: 100px;
}

#btn_form {
    border: none;
    background-color: #575757;
    color: var(--font-white);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 500;
}

=======
>>>>>>> 5b2562bd31e793734d252a75cb1c852cd50b3cdf
